   @import url(http://fonts.googleapis.com/css?family=Oleo+Script);
   @import url(http://fonts.googleapis.com/css?family=Caveat+Brush&subset=latin,latin-ext,cyrillic);
   body {
       background-color: rgb(229, 255, 229);
       padding-bottom: 100px;
   }
   
   #chatLog {
       font-family: 'Caveat Brush', sans-serif;
       font-size: 25px;
       margin-top: 200px;
   } /*dizajn okna chatu*/
   
   #userBox {
       width: 86%;
       position: fixed;
       bottom: 5%;
       height: 6%;
       font-family: 'Caveat Brush', sans-serif;
       font-size: 30px;
       margin-top: 40px;
       flex: 0 0 auto;
   } /*dizajn okna wiadomości*/
   
   .send {
       width: 10%;
       position: fixed;
       right: 0;
       bottom: 5%;
       margin-top: 20px;
       display: inline-block;
       height: 7%;
       vertical-align: top;
       margin-right: 25px;
       font-family: 'Caveat Brush', sans-serif;
       font-weight: 700;
       font-size: 110%;
       font-stretch: expanded;
       color: whitesmoke;
       text-decoration: none;
       /*padding: .8em 1em calc(.8em + 3px);*/
       border-radius: 3px;
       background: #22b3a4;
       box-shadow: 0 -3px white;
       transition: 0.2s;
       flex: 0 0 auto;
   } /*dizajn przycisku "Wyślij"*/
   
   .send:hover {
       background: rgb(53, 167, 110);
   } /*animacja przycisku "Wyślij" po najechaniu"*/
   
   .send:active {
       background: rgb(33, 147, 90);
       box-shadow: 0 3px rgb(33, 147, 90) inset;
   } /*animacja przycisku "Wyślij" po nacisnięciu"*/
   
   #title {
       align-content: center;
       text-align: center;
       font-size: 70px;
       color: whitesmoke;
       -webkit-text-stroke-width: 1px;
       -webkit-text-stroke-color: black;
       font-family: 'Oleo Script', Helvetica, sans-serif;
       font-weight: bold;
       margin-top: 10px;
       top: 10px;
       right: 30px;
       position: fixed; 
   }
   /*animacja nazwy pliku*/
